In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
Nasdaq = pd.read_csv('nasdacq.csv')
Nasdaq

,Date,Low,Open,Volume,High,Close,Adjusted Close
0,27-09-2005,19.100000,21.049999,961200,21.400000,19.299999,18.194910
1,28-09-2005,19.200001,NaN,5747900,20.530001,20.500000,19.326199
2,29-09-2005,20.100000,20.400000,1078200,20.580000,20.209999,19.052801
3,30-09-2005,20.180000,20.260000,3123300,21.049999,21.010000,19.806999
4,3/10/2005,20.900000,20.900000,1057900,21.750000,21.500000,20.268938
...,...,...,...,...,...,...,...
3897,23-03-2021,22.080000,23.350000,55290700,23.660000,22.270000,22.270000
3898,24-03-2021,21.760000,22.790001,44703900,23.180000,21.809999,21.809999
3899,25-03-2021,21.020000,21.250000,49746900,22.920000,22.770000,22.770000
3900,26-03-2021,22.280001,23.139999,36936000,23.290001,22.930000,22.930000
3901,29-03-2021,22.400000,23.160000,15969544,23.184999,22.618299,22.618299

In [3]:
close_data = np.array(Nasdaq['Close'].values)
close_data

array([19.29999924, 20.5       , 20.20999908, ..., 22.77000046,
       22.93000031, 22.61829948])